.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('food.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #frontBox {
    border: 2px solid white;
    color: black;
    padding: 10px;
    border-radius: 25px;
  }